PORT=3000

ML_CLIENT_ID=
ML_CLIENT_SECRET=
ML_USER_ID=
ML_ACCESS_TOKEN=
ML_REFRESH_TOKEN=
ML_TOKEN_STORE_PATH=
ML_PERSIST_TO_ENV_FILE=false

ARCA_ENV=testing
ARCA_CUIT=
ARCA_POINT_OF_SALE=1
ARCA_INVOICE_TYPE=11

DATABASE_URL=

ARCA_ENV=testing
ARCA_USE_REAL=false
ARCA_PRODUCTION_CONFIRMED=false
ARCA_CUIT=
ARCA_POINT_OF_SALE=8
ARCA_INVOICE_TYPE=11
ARCA_CERT_PATH=
ARCA_KEY_PATH=
ARCA_CERT_PEM=
ARCA_KEY_PEM=
ARCA_TA_STORE_DIR=.arca_tickets

ML_UPLOAD_INVOICE_TO_ML=false
ML_ALLOW_NON_PRODUCTION_INVOICE_UPLOAD=false
INVOICE_DATA_DIR=
INVOICE_PDF_DIR=

INVOICE_WORKER_ENABLED=false
INVOICE_WORKER_INTERVAL_MS=300000
DEBUG_INVOICE_JOBS=false